<div class="container">

  <div class="top">
    <div class="botones">
      <button mat-stroked-button extended (click)="addNode()">
        <mat-icon>add</mat-icon>
        Añadir Estado
      </button>
      @if(quintupla() != null){
        <button mat-stroked-button extended (click)="automataQuintupla()">
          <mat-icon>delete</mat-icon>
          Eliminar quíntupla
        </button>
      }@else {
        <button mat-stroked-button extended [disabled]="" (click)="automataQuintupla()">
          <mat-icon>check</mat-icon>
          Calcular quíntupla
        </button>
      }
    </div>
  </div>

  <div class="center">
    <div class="diagram-container">
      <div id="diagramDiv" #diagramDiv></div>

      <div class="properties-diagram">
        <h3 align="center">Propiedades del automata</h3>
        <div class="properties">
          <div *ngIf="diagramaData" class="title-propertie">Nodos: {{ diagramaData.nodeDataArray ? diagramaData.nodeDataArray.length : 0 }}</div>
          @if(diagramaData){
            <div class="estados-agrupados">
              @for (estado of diagramaData.nodeDataArray; track $index) {
                <span>{{ estado["key"] }}{{ $last ? '' : ', ' }}</span>
              }         
            </div>
          }

          <div *ngIf="diagramaData" class="title-propertie">Transiciones: {{ diagramaData.linkDataArray ? diagramaData.linkDataArray.length : 0 }}</div>
          @if(diagramaData){
            <div class="transiciones">
              <mat-list role="list">
                @for (transicion of diagramaData.linkDataArray; track $index) {
                  <mat-list-item role="listitem">
                    <span>{{ transicion["from"] }} --( {{ transicion["text"] }} )-> {{ transicion["to"] }}</span>
                  </mat-list-item>
                }
              </mat-list>
            </div>
          }
        </div>
      </div>
    </div>

  </div>

</div>