.container{
    width: 70%;
    height: 400px;
    margin: 20px auto 20px 20px;
}

.border-container{
    border: 2px solid #cebfbfbc;
    border-radius: 5px;
}

.context{
    font-size: 25px;
    padding: 20px 20px;
    color: #09090B;
    text-align: left;
    margin: 0;
}

.content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Ajusta este valor al espaciado que prefieras */
}

.font-text{
    font-weight: 600;
    color: #09090B;
    margin: 0;
}

.text-muted{
    color: hsl(240, 4%, 46%, 1);
    font-size: 0.825rem;
    margin: 0;
    line-height: 1.25rem;
}

.no-quintupla{
    font-size: 20px;
    padding: 20px 20px;
    color: black;
    opacity: 0.6;
    text-align: center;
}